####################################################################
## Sample configuration file (Parser to be implemented)
## Format see https://docs.python.org/2/library/configparser.html
[AD2c]
# binary
executable=./d2

# number of processers
cpus=8

# type of measure data:
# {EuclideanDist,Word2Vec,DenseHistogram,SparseHistogram}
data=

# input file
input=./data/mountaindat.d2

# size of sample
size=2000

# meta file (if <phases>=1, otherwise leave it default)
meta=

# output file prefix
output=

# number of clusters
clusters=10

# number of phases (default: only one phase)
phases=2

# dimensions of individual phases
dims=3,3

# number of supps in centroids (typically set to the 
# averaged or upper-bounding number of supps)
supps=6,8

# preprocess option for some specific data types: {Yes,No}
preprocess=No

# triangle inequality enabled
triangle=Yes

# max number of outer iterations (default if not known)
max_iter=

# data processing mode: {Yes,No}
is_test_data=No

# centroid file to load, if <is_test_data>=Yes
centroid=out_c.d2
